<ul class="menu menu-horizontal bg-base-200/80 rounded-box w-3/5 flex fixed">
  @for (icon of iconList; track $index) {
  <li class="flex-1 flex justify-center items-center gap-2">
    <a
      [innerHTML]="icon"
      (click)="onIconClick($index)"
      class="cursor-pointer"
    ></a>
  </li>
  @if ($index === 3) {
  <input
    type="number"
    class="input input-bordered input-sm w-15 text-left"
    [ngModel]="timeTimer()"
    (ngModelChange)="timeTimer.set($event)"
  />} }
</ul>
@if(notification){
<div
  class="fixed bottom-5 right-5 bg-base-300 text-white px-4 py-2 rounded shadow-lg animate-fade-in-out"
>
  {{ notification }}
</div>
}
